@charset "UTF-8"
/*
Author: Alex Boyd
Date 02/15/2023
Description: Layout for the resume page
*/

@media only screen and (max-width: 768px) { /* mobile phone */
    .grid-container {
        background-color: lightblue;
    }
}


@media only screen and (min-width: 768px) { /* non-mobile device */
    .reHeading {grid-area: reHeading;}
    .reHeading h4{
        font-weight: normal;
    }
    nav ul>li{
        float: left;
    }
    nav ul{
         justify-content: center;
         overflow: hidden;
    }
    nav ul>li>a{
        display: block;
    }
}

img{
    padding-top: 2em;
    
}
nav{
padding-bottom: 2em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.item1 > h4{
    word-spacing: 2em;
}
.item1{
    grid-area: title;
}
.item2{
    grid-area: contact;
}
.item3{
    grid-area: skills;
}
.item4{
    grid-area: education;
    text-align: center;
}
.item5{
    grid-area: languages;
}
.item6{
    grid-area: profile;
}
.item7{
    grid-area: experience;
    text-align: center;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7 > ul{
    font-size: 0.8em;
    text-align: left;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7 > h5{
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-areas:
      'title title title'
      'contact profile profile'
      'skills profile profile'
      'education experience experience'
      'education experience experience'
      'languages experience experience';
    gap: 10px;
    background-color: rgb(30, 30, 29);
    padding: 10px;
  }