@charset "UTF-8";
/*
Author: Alex Boyd
Date 02/15/2023
Description: Layout for the resume page
*/

@media only screen and (max-width: 768px) { /* mobile phone */
    body {
        background-color: rgb(80, 99, 105);
        
    }
    .Container {
        display: flex;
        list-style: none;
        text-align: center;
    }
    ul.skills li {
        text-align: center;
    }
    hr {
        display: block;
        position: relative;
        padding: 0;
        margin: auto auto;
        margin-bottom: 20px;
        height: 0;
        width: 25%;
        max-height: 0;
        font-size: 1px;
        line-height: 0;
        clear: both;
        border: none;
        border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #ffffff;
     }
     .left-column{
        text-align: center;
        align-items: center;
     }
     .Container ul{
        list-style: none;
     }
}

@media only screen and (min-width: 769px) { /* non-mobile device */
    body {
        font-family: Arial, sans-serif;
    }

    .Container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
    }

    .left-column {
        flex: 1;
        margin-right: 1em;
        margin-left: 22%;
    }

    .right-column {
        flex: 2;
        margin-left: 1em;
        margin-right: 15em;
    }
    .left-column hr{
        width: 35%;
    }

    h1, h2, h3 {
        text-align: center;
    }

    section {
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 20px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul li {
        margin-bottom: 5px;
    }

    ul.skills li {
        display: inline-block;
        margin-right: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
    }
    ul.Experience li{
        text-align: center;
    }
    hr {
        display: block;
        position: relative;
        padding: 0;
        margin: auto auto;
        margin-bottom: 20px;
        height: 0;
        width: 25%;
        max-height: 0;
        font-size: 1px;
        line-height: 0;
        clear: both;
        border: none;
        border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #ffffff;
     }
}