@charset "UTF-8";
/*
Author: Alex Boyd
Date 02/15/2023
Description: Layout for the resume page
*/

@media only screen and (max-width: 768px) { /* mobile phone */
    body {
        background-color: lightblue;
    }
}

@media only screen and (min-width: 769px) { /* non-mobile device */
    body {
        font-family: Arial, sans-serif;
    }

    .Container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .left-column {
        flex: 1;
        margin-right: 0.5em;
        margin-left: 1em;
    }

    .right-column {
        flex: 2;
        margin-left: 0.5em;
        margin-right: 1em;
    }

    h1, h2, h3 {
        text-align: center;
    }

    section {
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 20px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul li {
        margin-bottom: 5px;
    }

    ul.skills li {
        display: inline-block;
        margin-right: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    ul.Experience li{
        text-align: center;
    }
}